{% extends "padre.html" %}

{% load static %}

{% block servicios %}

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios de Registro</h2>
            <h3 class="section-subheading text-muted">Aquí podrás registrar nuevas aerolíneas, aviones, pilotos y destinos.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-user-tie fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Pilotos</h4>
                <p class="text-muted">Aquí puedes registrar a pilotos nuevos, incluyendo su nombre, correo y tipo de licencia.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-plane-departure fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Aviones</h4>
                <p class="text-muted">Aquí puedes registrar aviones nuevos, incluyendo su código, marca, aerolínea correspondiente y estado de operación.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-feather-pointed fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Aerolíneas</h4>
                <p class="text-muted">Aquí puedes registrar aerolíneas nuevas, incluyendo su nombre, destinos, y aviones que correspondan a estas.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-earth-americas fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Destinos</h4>
                <p class="text-muted">Aquí puedes registrar destinos nuevos y visualizar los existentes.</p>
            </div>
        </div>
    </div>
</section>

{% endblock servicios %}

{% block clientes %}

<div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/microsoft.svg' %}" alt="..." aria-label="Microsoft Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/google.svg' %}" alt="..." aria-label="Google Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/facebook.svg' %}" alt="..." aria-label="Facebook Logo" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/ibm.svg' %}" alt="..." aria-label="IBM Logo" /></a>
                </div>
            </div>
        </div>
    </div>

{% endblock clientes %}

