{% extends "padre.html" %}

{% load static %}

{% block pilotos %}

<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros Increíbles Pilotos</h2>
            <h3 class="section-subheading text-muted">Conoce a los pilotos registrados en nuestra base de datos.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/1.jpg' %}" alt="..." />
                    <h4>Parveen Anand</h4>
                    <p class="text-muted">Piloto de nivel 4</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com " aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/2.jpg' %}" alt="..." />
                    <h4>Diana Petersen</h4>
                    <p class="text-muted">Piloto de Nivel 4</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com " aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/3.jpg' %}" alt="..." />
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Piloto de Nivel 3</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com " aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"><strong>Nuestros pilotos se dividen en 4 categorías según su nivel de expertís, estudios y propósito de aviación:</strong></p></div>
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"><strong>-Nivel 1:</strong> Se trata de una licencia que no requiere experiencia ni conocimientos de aeronáutica previos. Con ella se pueden pilotar aviones ligeros recreativos de un peso máximo determinado.</p></div>
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"><strong>-Nivel 2:</strong> Es la licencia que te permitirá volar aeronaves no destinadas a la explotación comercial, es decir, sin ánimo de lucro. Edad mínima: 17 años.</p></div>
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"><strong>-Nivel 3:</strong> Permite ejercer como piloto al mando o copiloto de cualquier aeronave que participe en operaciones distintas del transporte aéreo comercial.</p></div>
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"><strong>-Nivel 4:</strong> Capacita para ejercer como piloto al mando en operaciones de transporte aéreo comercial en cualquier avión certificado para un solo piloto y, también, como copiloto en transporte aéreo comercial de líneas aéreas.</p></div>
        </div>

        <div class="text-center">
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'PilotosFormulario' %}">Ir al Registro de Pilotos</a>
        </div>

    </div>
</section>

{% endblock pilotos %}

{% block listaPilotos %}

<section>

<h1>Sección Lista de Pilotos</h1>

<p><strong>Lista de Pilotos:</strong></p>

<ul>
    {% for piloto in pilotos %}

    <li>
        Nombre: {{piloto.nombre}} {{piloto.apellido}} - Nivel de Licencia {{piloto.tipo_licencia}}
    </li>
    
    {% endfor %}
</ul>

</section>

{% endblock listaPilotos %}